{{#each pages}}
<section class="page page-default page-index page-{{@index}}">
  <div class="content">

    <div class=index>
    {{#each this}}

      <div class="photoitem">
        <img class="photo" data-src="{{numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
        <p class="cote">3.{{numero_livre}}.{{largeur}}.{{hauteur}}.{{nombre_de_pages}}.{{{colorCode mode_colorimetrique}}}.{{nombre_d_exemplaires}}</p>
      </div>

    {{/each}}
    </div>

  </div>
</section>

<section class="page page-default page-index page-{{@index}}">
  <div class="content">

    <div class="index">
    {{#each this}}

    <div class="legende">
      <p class="cote">3.{{numero_livre}}.{{largeur}}.{{hauteur}}.{{nombre_de_pages}}.{{{colorCode mode_colorimetrique}}}.{{nombre_d_exemplaires}}</p>
      <p class="nom">{{auteur}}</p>
      <p class="titre">{{titre}}</p>
      <p class="pagenb">{{nombre_de_pages}}p</p>

      <p class="city">{{ville_d_impression}}</p>
      <p class="date">{{annee}}</p>
      <p class="size">{{largeur}}×{{hauteur}}mm</p>
      <p class="technic">{{technique_d_impression}}, {{mode_colorimetrique}}</p>
      <p class="reliure">{{reliure}}</p>
    </div>

    {{/each}}
    </div>

  </div>
</section>
{{/each}}
