{{debug}}


{{#each lines}}

  <li>{{horodateur}}</li>
  <li>{{auteur}}</li>
  <h1>{{titre}}</h1>
  <li>{{editeurs}}</li>
  <li>{{ville_impression}}</li>
  <li>{{annee}}</li>
  <li>{{nb_pages}}</li>
  <li>{{collection}}</li>
  <li>{{largeur}}</li>
  <li>{{hauteur}}</li>
  <li>{{nb_ext}}</li>
  <li>{{technique_impresion}}</li>
  <li>{{mode_colo}}</li>
  <li>{{reliure}}</li>
  <li>{{meme_collection}}</li>
  <li>{{meme_auteur}}</li>

  <hr>

{{/each}}
