<section class="page page-ticket">
  <div class="content">

    <div class="reverse">

      <!-- expo -->
      <div class="ticket ticket--expo">

        <figure class="thumb">
          <img class="cover" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
        </figure>

        <p class="authors">{{page.auteur}}</p>
        <p class="title"><em>{{page.titre}}</em></p>

        <p class="city">{{page.ville_d_impression}}, {{page.annee}}</p>
        <p class="pagenb">{{page.nombre_de_pages}} pages</p>
        <p class="size">{{page.largeur}} × {{page.hauteur}} mm</p>
        <p class="nb">{{page.nombre_d_exemplaires}} exemplaires</p>
        <p class="technic">{{page.technique_d_impression}}</p>
        <p class="colormode">{{page.mode_colorimetrique}}</p>
        <p class="reliure">{{page.reliure}}</p>

        <p class="id">{{page.numero_livre}}</p>

      </div>
      .
      <!-- badge -->
      <div class="ticket ticket--badge">

        <figure>
          <img src="print/assets/img/logo-quiproquo.svg">
          <figcaption>
            #3 Paris
          </figcaption>
        </figure>

        <p class="text">
          Rendez-vous <br>
          le dimanche 30.04.17 <br>
          de 16 à 18 heures <br>
        </p>

        <p class="address">
          www.la-bibliotheque.de/quiproquo
        </p>

      </div>

    </div>

  </div>
</section>
