<section class="page page-ticket">
  <div class="content">

    <!-- stock -->
    <div class="ticket ticket--stock">

      <div class="id">
        <img src="../home/etapes-qpq03.svg">
        <span class="huge">{{page.numero_livre}}</span>
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

    </div>

    <!-- expo -->
    <div class="ticket ticket--expo">

      <div class="id">
        <span class="huge">{{page.numero_livre}}</span>
        <img src="../home/etapes-qpq04.svg">
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

      <div class=legende>
        <p class="cote">{{page.numero_livre}}.{{page.largeur}}.{{page.hauteur}}.{{page.nombre_de_pages}}.{{{colorCode page.mode_colorimetrique}}}.{{page.nombre_d_exemplaires}}</p>
        <p class="nom">{{page.auteur}}</p>
        <p class="titre">{{page.titre}}</p>
        <p class="pagenb">{{page.nombre_de_pages}}p</p>

        <p class="city">{{page.ville_d_impression}}</p>
        <p class="date">{{page.annee}}</p>
        <p class="size">{{page.largeur}}×{{page.hauteur}}mm</p>
        <p class="technic">{{page.technique_d_impression}}, {{page.mode_colorimetrique}}</p>
        <p class="reliure">{{page.reliure}}</p>
      </div>

    </div>

    <!-- badge -->
    <div class="ticket ticket--badge">

      <div class="id">
        <img src="../home/etapes-qpq01.svg">
        <span class="huge">{{page.numero_livre}}</span>
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

    </div>

    <!-- monaie -->
    <div class="ticket ticket--monaie">

      <div class="id">
        <img src="../home/etapes-qpq06.svg">
        <span class="huge">{{page.numero_livre}}</span>
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

    </div>
    <div class="ticket ticket--monaie">

      <div class="id">
        <img src="../home/etapes-qpq06.svg">
        <span class="huge">{{page.numero_livre}}</span>
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

    </div>
    <div class="ticket ticket--monaie">

      <div class="id">
        <img src="../home/etapes-qpq06.svg">
        <span class="huge">{{page.numero_livre}}</span>
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

    </div>
    <div class="ticket ticket--monaie">

      <div class="id">
        <img src="../home/etapes-qpq06.svg">
        <span class="huge">{{page.numero_livre}}</span>
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

    </div>
    <div class="ticket ticket--monaie">

      <div class="id">
        <img src="../home/etapes-qpq06.svg">
        <span class="huge">{{page.numero_livre}}</span>
      </div>

      <div class=photoitem>
        <img class="photo" data-src="{{page.numero_livre}}.jpg" src="print/assets/img/placeholder.gif" alt="" />
      </div>

    </div>

  </div>
</section>
